<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
   <div class="container-fluid">
   <center>
   	<h1>Why are you even here, fuck off m8.</h1><hr>
    <h2><a href="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/12002241_1017322081665456_8098605072119595253_n.jpg?oh=d5a70646f5057b289467a844b18f5f9e&oe=56F091EC">btw check out my fb profile. Me sexy :D</a></h2>
   	</footer>
   </div>
   </div>
  </body>
</html>
