<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
   <div class="container-fluid">
   <center>
   	<h1>Why are you even here, fuck off m8.</h1><hr>
    <h2><a href="https://www.facebook.com/ryan.p.whitehead">btw check out my fb profile. Me sexy :D</a></h2>
   	</footer>
   </div>
   </div>
  </body>
</html>
